/* all interactives will be wrapped in a <div> with class "time-interactive" */
.time-interactive {
	width: 100%;
	font-family: "franklin-gothic-urw", Helvetica, Arial, sans-serif;
	font-size: 16px;

	svg { overflow: hidden; }

	.interactive-head {
		text-align: center;
		font-size: 2em;
		line-height: 1em;

	    font-weight: 700;
	    margin: 5px 0;
		position: relative;
	}

	.interactive-intro {
	    font-size: 14px;
	    font-weight: normal;
	    margin: 5px 20px 5px 0;
	    line-height: 1.5em;
	}
}

/* necessarily outside div.time-interactive for sake of correct positioning to mouse movement */
.d3tooltip {
	font-family: "franklin-gothic-urw", Helvetica, Arial, sans-serif;
	font-size: 12px;
	position: absolute;
	z-index: 1000;
	max-width: 250px;
	visibility: hidden;
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 3px 6px;
}

