/* all interactives will be wrapped in a <div> with class "time-interactive" */
.time-interactive {
	width: 100%;
	font-family: "franklin-gothic-urw", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;

	svg { overflow: hidden; }
}