<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= interactive_id %></title>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
  <style>
    @import url("http://lasillavacia.com/modules/system/system.base.css?onqjy0");
  </style>
  <style>
    @import url("http://lasillavacia.com/modules/contextual/contextual.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/jquery_update/replace/ui/themes/base/minified/jquery.ui.core.min.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/jquery_update/replace/ui/themes/base/minified/jquery.ui.theme.min.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/jquery_update/replace/ui/themes/base/minified/jquery.ui.resizable.min.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/jquery_update/replace/ui/themes/base/minified/jquery.ui.button.min.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/jquery_update/replace/ui/themes/base/minified/jquery.ui.dialog.min.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/media/css/media.css?onqjy0");
  </style>
  <style>
    @import url("http://lasillavacia.com/sites/all/modules/simplenews/simplenews.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/date/date_api/date.css?onqjy0");
    @import url("http://lasillavacia.com/modules/field/theme/field.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/logintoboggan/logintoboggan.css?onqjy0");
    @import url("http://lasillavacia.com/modules/node/node.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/views/css/views.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/ckeditor/css/ckeditor.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/admin_menu/admin_menu.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/admin_menu/admin_menu_toolbar/admin_menu_toolbar.css?onqjy0");
    @import url("http://lasillavacia.com/modules/shortcut/shortcut.css?onqjy0");
  </style>
  <style>
    @import url("http://lasillavacia.com/sites/all/modules/ctools/css/ctools.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/panels/css/panels.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/layouts/despliegue/despliegue.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/webform/css/webform.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/panels/plugins/layouts/onecol/onecol.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/modules/ckeditor/css/ckeditor.editor.css?onqjy0");
  </style>
  <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.css" media="all" />
  <style>
    @import url("http://lasillavacia.com/sites/all/themes/bootstrap/css/3.3.5/overrides.min.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/style.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/color.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/base.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/lsv_custom.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/responsive.css?onqjy0");
    @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/responsive-custom.css?onqjy0");
  </style>
  <style>
    @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/css_custom/lsv.css?onqjy0");
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="wrapper">
  <div class="article-full">
    <article class="news col-md-12">
      <section class="article-content col-sm-12 col-md-8 col-lg-8 col-lg-offset-1">
        <section class="article-main-body">
          <div class="lsv-interactive" id="<%= interactive_id %>">
            <img src="screenshot.png" class="screenshot" style="width:100%;">
          </div>
        </section>
      </section>
    </article>
  </div>
</div>
<script defer type="text/javascript" src="script.js"></script>
</body>
</html>